.container  {
    width: 90%;
    margin: auto;
}

.scroll-spy {
    display: none;
    margin-top: 0;
    position: absolute;
    top: 100%;
    right: 3%;
    list-style-type: none;
}

.scroll-spy.fixed {
    top: 60px;
    position: fixed;
}

.scroll-spy li {
    display: block;
    float: none;
    height: 60px;
    background-color: #383838;
}

.scroll-spy.fixed li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.scroll-spy li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.scroll-spy a {
    color: #fff;
    display: block;
    position: relative;
    padding: 20px 15px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

.scroll-spy li.is-current {
    background-color: #cf5808;
}

@media only screen and (min-width: 992px) {
    .container  {
        width: 60%;
    }
    .scroll-spy {
        display: block;
    }
}
