.hobby-item{
    width: 25%;
    float: left;
    text-decoration: none;
}

.hobby-item img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hobby-item h3 {
    text-align: center;
    font-size: 0.9em;
    color: initial;
}

.hobbies-list {
    overflow: hidden;    
}

@media only screen and (min-width: 992px) {
    .hobby-item h3  {
        font-size: 1.17em;
    }
}
