.profile  {
    width: 60%;
    margin: auto;
}

.profile-content {
    display: flex;
}

.profile-description {
    text-align: justify;
}
.profile-details {
    min-width: 120px;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 160px;
    margin-left: 35px;
}
