.profile  {
    width: 60%;
    margin: auto;
}

.profile h2,
.profile h4 {
    text-align: center;
}

.profile h2 {
    font-size: 48px;
    margin-bottom: 16px;
}

.profile h4 {
    padding-bottom: 16px;
    margin-top: 0;
    border-bottom: 1px solid #c7c7c7;
}

.profile-content {
    display: flex;
}

.profile-description {
    text-align: justify;
}
.profile-details {
    min-width: 120px;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 160px;
    margin-left: 35px;
}
